In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data={'YearExperience':['1.1','1.3','1.5','2.1','2.5','2.9','3.2','3.6','3.9','4.1','4.6','4.9','5.3','5.6','5.8','6.1','6.5','6.9','7.3','7.6'],'Salary':['39343.0','46205.0','37731.0','43525.0','39691','56642','63748.0','58474.0','49567.0','58474','64747','54838','48585','36474','44653','37474','68474','48568','38484','48574']}
df=pd.DataFrame(data)
df

   YearExperience   Salary
0             1.1  39343.0
1             1.3  46205.0
2             1.5  37731.0
3             2.1  43525.0
4             2.5    39691
5             2.9    56642
6             3.2  63748.0
7             3.6  58474.0
8             3.9  49567.0
9             4.1    58474
10            4.6    64747
11            4.9    54838
12            5.3    48585
13            5.6    36474
14            5.8    44653
15            6.1    37474
16            6.5    68474
17            6.9    48568
18            7.3    38484
19            7.6    48574

In [11]:
df.head(5)

  YearExperience   Salary
0            1.1  39343.0
1            1.3  46205.0
2            1.5  37731.0
3            2.1  43525.0
4            2.5    39691

In [14]:
X=df.iloc[:,0].values
Y=df.iloc[:,1].values

In [22]:
print (pd.DataFrame(X))

      0
0   1.1
1   1.3
2   1.5
3   2.1
4   2.5
5   2.9
6   3.2
7   3.6
8   3.9
9   4.1
10  4.6
11  4.9
12  5.3
13  5.6
14  5.8
15  6.1
16  6.5
17  6.9
18  7.3
19  7.6

In [19]:
Y

array(['39343.0', '46205.0', '37731.0', '43525.0', '39691', '56642',
       '63748.0', '58474.0', '49567.0', '58474', '64747', '54838',
       '48585', '36474', '44653', '37474', '68474', '48568', '38484',
       '48574'], dtype=object)

In [52]:
df.plot(kind='scatter',x='YearExperience',y='Salary')
plt.show()

ValueError: scatter requires x column to be numeric

In [61]:
from sklearn.cross_validation import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.33,random_state = 0)

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [60]:
X_train.shape

NameError: name 'X_train' is not defined